[tool.poetry]
name = "{{project_name}}"
version = "0.0.0"
description = ""
authors = []
license = "MIT License"
readme = "README.md"
packages = [{ include = "{{module_name}}", from = "src" }]

[tool.poetry.dependencies]
# write here dependencies of your project
python = "^3.10"

[tool.poetry.group.dev.dependencies]
codespell = "*"
coverage = "*"
ipykernel = "*"
ruff = "*"
pyright = "*"
pytest = "*"
{% if documentation %}
[tool.poetry.group.docs.dependencies]
mkdocs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
mkdocs-video = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
pymdown-extensions = "*"
{% endif %}
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
