[tool.poetry]
name = "{{project_name}}"
version = "0.0.0"
description = ""
authors = []
license = "MIT License"
readme = "README.md"
packages = [{ include = "{{module_name}}", from = "src" }]

[tool.poetry.dependencies]
# write here dependencies of your project
python = "^3.10"

[tool.poetry.group.dev.dependencies]
coverage = "*"
ipykernel = "*"
ruff = "*"
pyright = "*"
pytest = "*"
{% if documentation %}
[tool.poetry.group.docs.dependencies]
mdx-truly-sane-lists = "*"
mkdocs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
mkdocs-video = "*"
pymdown-extensions = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-markdown-builder = "*"
{% endif %}
[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
