[project]
authors = []
license = { text = "MIT License" }
requires-python = ">=3.12"
name = "{{project_name}}"
version = "0.0.0"
description = ""
readme = "README.md"
dependencies = []                  # write here dependencies of your project

[dependency-groups]
dev = ["codespell", "coverage", "ipykernel", "ruff", "pyright", "pytest"]
{% if documentation %}
docs = [
    "mkdocs",
    "mkdocs-awesome-pages-plugin",
    "mkdocs-git-revision-date-localized-plugin",
    "mkdocs-material",
    "mkdocs-video",
    "mkdocstrings",
    "mkdocstrings-python",
    "pymdown-extensions",
]
{% endif %}
[tool.uv]
default-groups = ["dev", "docs"]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ module }}"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
