version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
    groups:
      github-actions:
        patterns:
          - "*"
    commit-message:
      prefix: ":arrow_up: dep-bump"
      include: scope

  - package-ecosystem: pip
    directory: "/" # location of package manifests
    schedule:
      interval: weekly
    target-branch: main
    groups:
      security-packages:
        applies-to: security-updates
        patterns:
          - "*"
      dependency-packages:
        applies-to: version-updates
        patterns:
          - "*"
    commit-message:
      prefix: ":arrow_up: dep-bump"
      include: scope
