layout_pdm

# get path to the root of the project even if deep into the path
SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

# add bin directory to the path
export PATH="${SCRIPT_DIR}/bin:$PATH"
