# :sparkles: {{ project_name }}

[![main](https://github.com/{{ organization }}/{{ project_name }}/actions/workflows/main.yml/badge.svg)](https://github.com/{{ organization }}/{{ project_name }}/actions/workflows/main.yml)
[![Checked with pyright](https://microsoft.github.io/pyright/img/pyright_badge.svg)](https://{{ organization }}.github.io/pyright/)
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)


<Write {{ project_name }} project info here!>

-----------------------------------------------------------------

## :rocket: Getting started with {{ project_name }}

<Write your getting started section.>


{% if documentation %}
## :notebook_with_decorative_cover: Documentation
https://{{ organization }}.github.io/{{ project_name }}/

## :floppy_disk: Source Code
https://github.com/{{ organization }}/{{ project_name }}/
{%- endif %}
{% if organization == 'microsoft' %}
## :balance_scale: Trademarks

This project may contain trademarks or logos for projects, products, or services. Authorized use of Microsoft
trademarks or logos is subject to and must follow
[Microsoft's Trademark & Brand Guidelines](https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/usage/general).
Use of Microsoft trademarks or logos in modified versions of this project must not cause confusion or imply Microsoft sponsorship.
Any use of third-party trademarks or logos are subject to those third-party's policies.
{%- endif %}
