name: Dependabot auto-merge
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == '{{organization}}/{{project_name}}'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: {% raw %}${{github.event.pull_request.html_url}}{% endraw %}
          GH_TOKEN: {% raw %}${{secrets.GITHUB_TOKEN}}{% endraw %}
