name: main

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
{%- if precommit %}
  precommit:
    uses: ./.github/workflows/precommit.yml
{% endif %}
  tests:
    uses: ./.github/workflows/tests.yml
{% if documentation %}
  docs:
    uses: ./.github/workflows/docs.yml
    secrets: inherit
    permissions:
      contents: read
      pages: write
      id-token: write
{% endif %}
  wheels:
    uses: ./.github/workflows/wheels.yml
    secrets: inherit
    permissions:
      contents: read
      actions: write
      id-token: write

  codeql:
    uses: ./.github/workflows/codeql.yml
    secrets: inherit
    permissions:
      contents: read
      actions: read
      security-events: write
