name: pr

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
{%- if precommit %}
  precommit:
    uses: ./.github/workflows/precommit.yml
{% endif %}
  tests:
    uses: ./.github/workflows/tests.yml
{% if documentation %}
  docs:
    uses: ./.github/workflows/docs.yml
{% endif %}
  wheels:
    uses: ./.github/workflows/wheels.yml

  codeql:
    uses: ./.github/workflows/codeql.yml
    secrets: inherit
    permissions:
      contents: read
      actions: read
      security-events: write
