name: pr

on:
  pull_request:
    branches: [main]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
{%- if precommit %}
  precommit:
    uses: ./.github/workflows/precommit.yml
    permissions:
      contents: read
{% endif %}
  tests:
    uses: ./.github/workflows/tests.yml
    permissions:
      contents: read
{% if documentation %}
  docs:
    uses: ./.github/workflows/docs.yml
    permissions:
      contents: read
      pages: write
      id-token: write
{% endif %}
  wheels:
    uses: ./.github/workflows/wheels.yml
    permissions:
      contents: read
      actions: write
      id-token: write
      attestations: write
